@import 'colors';
@import 'buttons';
@import 'images';
@import 'navbar';
@import 'carousel';
@import 'about';
@import 'bottom';
@import 'footer';


*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
}